{% extends 'core/base.html' %} {% load static %}{% block title %} Aviso de privacidad {% endblock %} {% block content %}
<!--Contenido-->
{% for page in pages %}
<div class="contenido-otros">
    <div class="row">
        <div class="otros">
            <h2 class="section-heading mb-4">
                <span class="section-heading-lower">{{page.title}}</span>
            </h2>
            <div class="section-content">
                <p>
                    {{ page.content|safe }}
                </p>
                </p>
            </div>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}