{% extends 'core/base.html' %} {% load static %}{% block title %} Conctatanos {% endblock %} {% block content %}
<!--Contenido  -->
<div class="contenido-contacto">
    <img class="w-100" src="{% static 'core/img/contact-img.jpg' %}" alt="" />
    <div class="row contacto justify-content-center">
        <div class="col-12 col-lg-8">
            <h2 class="titulo">Comenta tu Opinión</h2>
            <!-- Formulario de contacto -->
            {% csrf_token %}
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group">{{ form.name }}</div>
                </div>
                <div class="form-group">
                    <div class="input-group">{{ form.email }}</div>
                    <ul class="errorlist"></ul>
                </div>
                <div class="form-group">
                    <div class="input-group">{{ form.content }}</div>
                </div>
                <div class="text-center">
                    <input type="submit" class="boton btn-block py-2" value="Enviar" />
                </div>
            </form>

            <!-- Fin formulario de contacto -->
        </div>
    </div>
</div>
{% endblock %}